ul {
    padding-left: 2vw;
    margin: 0;
    list-style: none;
}

li {
    text-align:left;
}

h2 {
    text-align: left;
}

.Header {
    font-size: calc(10px + 3vmin);
}

.SectionHeader {
    font-size: calc(10px + 2vmin);
}

.Section {
    margin: auto;
    width: 70%;
    height: 60%;
}
