table {
    border-collapse: collapse;
}

td {
    cursor: pointer;
}

.row {
    height: 50px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}


.container-table {
    margin: 10px;
}

.header-row {
    border-bottom: 1px solid black;
}